.listitem {
  padding: 16px;
  margin: 16px 0;
  display: flex;
  box-shadow: 1px 1px 4px #888;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  max-height: min-content;
  min-height: min-content;
  min-width: 590px;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  transition: all 0.2s;
}

.listitem:hover {
  transform: scale(1.02);
  box-shadow: 3px 3px 8px #aaa;
}

.listitem p {
  font-family: var(--font-inter);
  margin: 16px;
  font-size: 1.3rem;
  text-wrap: balance;
  flex: 1;
}

.listitem div {
  height: 64px;
  flex: 1;
}

.image {
  height: 64px;
  width: auto !important;
}

.listitem p:last-child {
  flex: 3 !important;
}

.title { 
  display: flex; 
  border-radius: 4px;
  width: 100%;
  height: 100%;
  max-height: min-content;
  min-height: min-content;
  min-width: 590px;
  justify-content: flex-start;
  align-items: center;
}

.title div {
  margin: 0 16px;
  flex: 1;
}

.title div:last-child {
  flex: 3;
}